.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 30px auto;
}

@media (max-width: 600px) {
    .posts {
        width: 98%;
        margin: 10px auto;
    }
}

