.parent {
    position: relative;
    background-color: rgb(249, 249, 249);
    min-height: 100vh;
}
.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 30%;
}

.center {
    width: 70%;
    max-width: 1000px;
}

.right {
    width: 30%;
}

