.story_div {
    margin-top: 80px;
    overflow-x: auto;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    padding: 20px;
}

.story_div::-webkit-scrollbar {
    background-color: transparent;
    height: 12px;
}

.story_div::-webkit-scrollbar-thumb {
    cursor: grab;
    background-color: var(--pink);
    border-radius: 25px;
}

.story_div::-webkit-scrollbar-track {
    background: rgb(241, 220, 220);
    border-radius: 10px;
}

@media (max-width: 600px) {
    .story_div {
        max-height: 130px;
        height: 130px;
        margin-top: 50px;
        display: flex;
        align-items: center;
        padding: 0;
    }
}

