.card {
    overflow: hidden;
    position: fixed;
    padding: 10px;
    margin-top: 130px;
    min-width: 250px;
    max-width: 360px;
    height: max-content;
    box-shadow: 0px 5px 10px 0px rgb(184, 182, 182);
    border-radius: 25px;
    background-color: white;
    left: 5%;
}

.parent_overlay {
    padding: 10px;
    overflow: hidden;
}

.overlay {
    backdrop-filter: blur(7px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.text button{
    box-shadow: 0px 0px 20px 5px var(--dark-yellow);
    font-size: 18pt;
    color: white;
    background-color: var(--dark-yellow);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: 700;
    padding: 10px 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.info {
    cursor: pointer;
    display: flex;
}

.photo {
    border: 5px solid var(--dark-yellow);
    width: 85px;
    height: 85px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.user_info_details {
    margin-top: 10px;
    font-size: 10pt;
    display: flex;
}

.user_info_details h4 {
    margin-bottom: 10px;
}

.user_info_details p {
    text-align: center;
    font-weight: 800;
}

.user_info_details div {
    margin: 0 5px;
}

.line {
    display: block;
    width: 90%;
    margin: 10px auto;
    height: 3px;
    background-color: var(--dark-yellow);
}

.about {
    font-weight: 700;
    font-size: 12pt;
    margin-bottom: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.location p {
    font-size: 10pt;
    font-weight: 500;
    color: rgb(96, 96, 96);
}

.email p {
    width: max-content;
    cursor: pointer;
    font-size: 10pt;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 30px;
}

.list_button {
    cursor: pointer;
    background-color: rgb(240, 235, 235);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 100%;
    padding: 10px;
    bottom: 0;
    left:0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line_down {
    width: 80px;
    height: 10px;
    background-color: var(--dark-yellow);
    mask: url("./assets/line_down.svg") no-repeat center;
    -webkit-mask: url("./assets/line_down.svg") no-repeat center;
}

.line_up {
    width: 80px;
    height: 10px;
    background-color: var(--dark-yellow);
    mask: url("./assets/line_up.svg") no-repeat center;
    -webkit-mask: url("./assets/line_up.svg") no-repeat center;
}

/* List */

.list.open {
    max-height: 500px;
}

.list {
    position: relative;
    top: -30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.account {
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 700;
}

.account_icon {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--dark-yellow);
    mask: url("./assets/Account\ management.svg") no-repeat center;
}

.security {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 700;
}

.security_icon {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--dark-yellow);
    mask: url("./assets/security.svg") no-repeat center;
    -webkit-mask: url("./assets/security.svg") no-repeat center;
}

.help {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 700;
}

.help_icon {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--dark-yellow);
    mask: url("./assets/Help.svg") no-repeat center;
    -webkit-mask: url("./assets/Help.svg") no-repeat center;
}


.feedback {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 700;
}

.feedback_icon {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--dark-yellow);
    mask: url("./assets/feedback.svg") no-repeat center;
    -webkit-mask: url("./assets/feedback.svg") no-repeat center;
}

.logout {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.logout_icon {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--dark-yellow);
    mask: url("./assets/logout.svg") no-repeat center;
    -webkit-mask: url("./assets/logout.svg") no-repeat center;
}


@media (max-width: 1550px) and (min-width: 1300px) {
    .card {
        width: 20%;
    }
    .user_info_details {
        font-size: 9pt;
    }
}

@media (max-width: 1300px) {
    .card {
        display: none;
        visibility: hidden;
    }
}