.post_div {
    position: relative;
    width: 100%;
    max-width: 650px;
    height: max-content;
    box-shadow: 0px 5px 10px 0px rgb(189, 186, 186);
    border-radius: 25px;
    margin: 30px 0;
}

.header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: white;
}

.info {
    display: flex;
    align-items: center;
}

.user_photo {
    cursor: pointer;
    background: url("./assets/user_default.svg") no-repeat center;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.user_info {
    margin-left: 10px;
}
.user_info h2 {
    cursor: pointer;
    margin-bottom: 5px;
}

.settings_wrapper {
    background-color: white;
    transition: 0.2s;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
}

.settings_wrapper:hover {
    transition: 0.2s;
    background-color: rgb(242, 240, 240);
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 500px;
    background-color: white;
}

.caption {
    padding: 10px;
    font-weight: 500;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.caption p {
    font-weight: 700;
}

.caption p span {
    color: rgb(43, 43, 43);
    font-weight: 600;
}


.body_photo {
    max-height: 450px;
    object-fit: contain;
    border-top: 1px solid rgb(230, 228, 228);
    border-bottom: 1px solid rgb(230, 228, 228);
    background-color: rgb(247, 247, 247);
}


.reactions {
    background-color: white;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

.reactions .left {
    display: flex;
    align-items: center;
}

.reactions .left * {
    margin-right: 5px;
    margin-left: 5px;
}

.like {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.like_icon {
    transition: 0.5s;
    width: 38px;
    height: 30px;
    background-color: #333333;
    mask: url("./assets/Main\ star.svg") no-repeat center;
    -webkit-mask: url("./assets/Main\ star.svg") no-repeat center;
}

.glints {
    z-index: 10;
    top: 0;
    position: absolute;
}

.glint1 {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 40px;
    left: 10px;
}

.glint2 {
    width: 1px;
    height: 1px;
    position: absolute;
    bottom: -30px;
    right: 10px;
}

.glint3 {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 10px;
    bottom: -40px;
}

.glint {
    width: 1px;
    height: 1px;
    transition: width 0.2s ease-out, height 0.2s ease-out;
    animation: like_animation 1.5s ease-out forwards;
}

@keyframes like_animation {
    0%, 100% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(25);
    }
}

.comment {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comment_icon {
    background-color: #333333;
    background: url("./assets/comment.svg") no-repeat center;
    width: 50px;
    height: 50px;
}

.share {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.share_icon {
    background-color: #333333;
    background: url("./assets/share.svg") no-repeat center;
    width: 50px;
    height: 50px;
}

.save {
    background-color: #333333;
    cursor: pointer;
    background: url("./assets/save_post.svg") no-repeat center;
    width: 50px;
    height: 50px;
}

.icon_wrapper {
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 60px;
    transition: 0.5s;
}

.icon_wrapper:hover {
    transition: 0.5s;
    background-color: rgb(242, 240, 240);
    border-radius: 50%;
}

.privacy_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    font-weight: 900;
    margin: 0 7px;
}


@media (max-width: 600px) {
    .user_info h2 {
        font-size: 15pt;
    }
    .user_info p{
        font-size: 10pt;
    }
    .like_count {
        font-size: 8pt;
    }
    .comment_count {
        font-size: 8pt;
    }
    .share_count {
        font-size: 8pt;
    }

    .caption p {
        font-size: 11pt;
    }
}
