.settings {
    position: fixed;
    margin-top: 130px;
    max-width: 300px;
    width: 100%;
}

.settings p{
    margin-left: 10px;
    font-weight: 600;
}

.add {
    background-color: white;
    border-radius: 25px;
    width: 90%;
    box-shadow: 0px 5px 8px 1px rgb(216, 214, 214);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.add_icon {
    margin-top: 7px;
    display: flex;
    width: 50px;
    height: 70px;
    background-color: white;
    mask: url("./assets/Add\ to\ your\ stories.svg") no-repeat center;
    -webkit-mask: url("./assets/Add\ to\ your\ stories.svg") no-repeat center;
}

.archive {
    background-color: white;
    border-radius: 25px;
    width: 90%;
    box-shadow: 0px 5px 8px 1px rgb(216, 214, 214);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.archive_icon {
    margin-top: 10px;
    width: 38px;
    height: 55px;
    background-color: white;
    mask: url("./assets/Archive.svg") no-repeat center;
    -webkit-mask: url("./assets/Archive.svg") no-repeat center;
}

.options {
    background-color: white;
    border-radius: 25px;
    width: 90%;
    box-shadow: 0px 5px 8px 1px rgb(216, 214, 214);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.options_icon {
    width: 38px;
    height: 55px;
    background-color: white;
    mask: url("./assets/options.svg") no-repeat center;
    -webkit-mask: url("./assets/options.svg") no-repeat center;
}

.save {
    background-color: white;
    border-radius: 25px;
    width: 90%;
    box-shadow: 0px 5px 8px 1px rgb(216, 214, 214);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.save_icon {
    width: 38px;
    height: 55px;
    background-color: white;
    mask: url("./assets/save_post.svg") no-repeat center;
    -webkit-mask: url("./assets/save_post.svg") no-repeat center;
}

.icon_wrapper {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 179, 65, 1);
}

.share {
    background-color: white;
    border-radius: 25px;
    width: 90%;
    box-shadow: 0px 5px 8px 1px rgb(216, 214, 214);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.share_icon {
    width: 30px;
    height: 30px;
    background-color: white;
    mask: url("./assets/share.svg") no-repeat center;
    -webkit-mask: url("./assets/share.svg") no-repeat center;
}

.favorite {
    background-color: white;
    border-radius: 25px;
    width: 90%;
    box-shadow: 0px 5px 8px 1px rgb(216, 214, 214);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.favorite_icon {
    width: 30px;
    height: 30px;
    background-color: white;
    mask: url("./assets/favorite.svg") no-repeat center;
    -webkit-mask: url("./assets/favorite.svg") no-repeat center;
}

.block {
    background-color: white;
    border-radius: 25px;
    width: 90%;
    box-shadow: 0px 5px 8px 1px rgb(216, 214, 214);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.block_icon {
    width: 40px;
    height: 40px;
    background-color: white;
    mask: url("./assets/block.svg") no-repeat center;
    -webkit-mask: url("./assets/block.svg") no-repeat center;
}
